*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blackzinho: #111011;
    --purple: #c91bc9;
    --white: #ffffff;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-color: var(--blackzinho);
}

.nav-menu {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    font-size: 35px;
    font-weight: 700;
}

.portfolio span {
    color: var(--purple);
}


li {
    list-style: none;   
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;
    cursor: pointer;
}

li:hover {
    color: var(--purple);
    transition: 0.5s;
}

.texto-principal{
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 8%;
}

.texto-principal h1 span {
    color: var(--purple);
}

section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20%;
    background-color: black;
    color: var(--white);
}

section img {
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--white);
    margin-right: 80px;
    margin-left: -20%;
}

section div h2 {
    color: var(--white);
    font-size: 60px;
}


section div p {
    color: #eea8ee;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
section div button {
    color: var(--white);
    background-color: var(--purple);
    width: 170px;
    height: 40px;
    border-radius: 10px ;
    font-size: 17px;
    font-weight: 500;
    border: none;

}

section div button:hover {
    cursor: pointer;
    background-color: var(--blackzinho);
    border: 2px solid var(--purple);
    transition: 0.5s;
}

