*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --blackzinho: #111011;
    --purple: #c91bc9;
    --white: #ffffff;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    /*aqui vai um background-image: url(uma imagem de fundo sobre sites etc..) */
    background-color: var(--blackzinho);
}

.nav-menu {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    font-size: 35px;
    font-weight: 700;
}

.portfolio span {
    color: var(--purple);
}


li {
    list-style: none;   
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;
    cursor: pointer;
}


.link-menu {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

.link-menu:hover {
    color: var(--purple);
    transition: 0.5s;
}


.texto-principal{
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 8%;
}

.texto-principal h1 span {
    color: var(--purple);
}

section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20%;
    background-color: black;
    color: var(--white);
    height: 100vh;
}

section img {
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--white);
    margin-right: 80px;
    margin-left: -20%;
}

section div h2 {
    color: var(--white);
    font-size: 60px;
}


section div p {
    color: #eea8ee;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
section div button {
    color: var(--white);
    background-color: var(--purple);
    width: 170px;
    height: 40px;
    border-radius: 10px ;
    font-size: 17px;
    font-weight: 500;
    border: none;

}

section div button:hover {
    cursor: pointer;
    background-color: var(--blackzinho);
    border: 2px solid var(--purple);
    transition: 0.5s;
}


/*PARTE TRES*/

.parte-tres {
    background-color: var(--blackzinho);
    height: 100vh;
}

.parte-tres h2{
    color: var(--white);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: var(--white);
    font-size: 25px;
}

.card p {
    color:  #eea8ee;
    margin-top: 25px;
    margin-bottom: 50px;
}

.card a {
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.card a:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1.5px solid var(--purple);
    transition: 0.5s;
}


.card-projeto {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    
}

footer p {
    color: var(--white);
    font-size: 15px;
    margin-top: 2 px;
    margin-bottom: 20px;
}

.rede-social {
    display: flex;
    gap: 20px;
}

.rede-social a {
    background-color: var(--blackzinho);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.rede-social img {
    height: 30px;
    border-radius: 50%;
}

.rede-social img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}